doctype
html(lang='zh-CN').night
    include _partial/head
    //- != css("public/css/post")
    body
        include _partial/header

        // 左侧目录
        - if(page.toc !== false && config.ede_theme.switch.toc !== false)
            div#nav-bar(style="display: none")
                div.toc
                    != toc(page.content, {list_number: false})

        // 主体内容
        main#content-main.section

            // 文章主题
            div.list-item
                // 文章标题
                h1.post-title
                    a(class='article-link' href=url_for('#') id=page.title)= page.title
                // 文章相关分类
                div.post-meta
                    time.meta.published= date(page.date, 'MMM D, Y')
                // 文章声明
                - if(typeof page.alert !== 'undefined')
                    div.alert
                        - if(page.alert === null)
                            !=config.ede_theme.tip.alert
                        - else
                            !=page.alert
                - if(typeof page.warn !== 'undefined')
                    div.warn
                        - if(page.warn === null)
                            !=config.ede_theme.tip.warn
                        - else
                            !=page.warn
                - if(typeof page.error !== 'undefined')
                    div.error
                        - if(page.error === null)
                            !=config.ede_theme.tip.error
                        - else
                            !=page.error
                // 文章内容
                div.article
                    div.post-excerpt.markdown-body
                        != page.content

                // 随机产生的名言
                //div.aphorism

            // 尾部的导航
            div.more.section
                - if(page.prev)
                    div.pre
                        a(class='article-link' href='/' + page.prev.path)
                            i.iconfont.icon-right
                            != page.prev.title
                - else if(page.next)
                    div.pre
                        a(class='article-link' href='/')
                            i.iconfont.icon-right
                            != "回到首页"
                - if(page.next)
                    div.next
                        a(class='article-link' href='/' + page.next.path)
                            != page.next.title
                            i.iconfont.icon-right
                - else
                    div.next
                        a(class='article-link' href='/')
                            != "回到首页"
                            i.iconfont.icon-right
            //div#comment
        include _partial/footer
    

//- != js("public/js/gitment.min.js")