@import "_base/color.styl";

@import "_base/github-markdown.css";
@import "_base/md.styl";
// 覆盖github-markdown.css的样式
// @import (inline) "_base/gitment.css";

@import "comp/img-viewer.styl";
@import "comp/comment.styl";
@import "comp/gif.styl";

// 左侧引导条
#nav-bar {
  // 通过包裹外框使导航最左边
  position: fixed;
  width: 100vw;
  max-width: 1280px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;


  &.fix {
    position: fixed;
    top: 60px;
    transition: top .3s linear;
  }

  div.toc {
    width: 260px;
    height: calc(100vh - 80px);
    overflow: hidden;
    color: #333;
    border-right: 1px solid #e1e1e1;
    opacity: .8;

    &:hover {
      opacity: 1;
    }

    ol.toc {
      height: calc(100% - 20px);
      padding: 10px 24px;
      overflow: auto;
      font-size: 14px;

      ol {
        padding-left: 20px;
      }
    }

    .toc-level-2 {
      list-style: none;
    }

    li {
      padding-top: 3px;
      padding-bottom: 3px;
      list-style: square;

      a {
        color: #7f8c8d;

        &:hover {
          color: $base-blue;
        }
      }
    }
  }

  .toc-item {
    color: #666;

    &.is-active {
      color: $btn-color;

      .toc-link {
        color: $btn-color;
      }
    }
  }

}


// 主体
main {
  min-height: calc(100vh - 350px);

  // 名言
  // .aphorism {
  //     position: relative;
  //     top: 2rem;
  //     right: -1rem;
  //     color: #aaa;
  //     text-align: right;
  //     font-style: italic;
  //     font-size: 18px;
  //     font-family: 'write style';
  //     text-decoration: underline;
  // }

  a {

    &:link,
    &:visited {
      color: $link-blue;
      opacity: 0.8;
    }

    &:hover {
      color: $link-blue;
      opacity: 1;
    }
  }

  .list-item {
    position: relative;
    padding: 64px 32px;
    margin-left: 106px;
    background-color: white;
  }

  // 内容（markdown-body渲染的模块）
  .post-excerpt {
    margin-top: .8rem;
    margin-bottom: .8rem;

    img {
      display: block;

      &.gif {
        height: auto;
        margin: 0 auto;
        border: none;
        border-radius: 0;
      }
    }

    // 图片小文字描述
    .img-desc,
    div.img-desc {
      position: relative;
      top: -10px;
      display: block;
      font-size: 12px;
      color: #999;
      text-align: center;
    }
  }

  // 文章信息（日期等）
  div.post-meta {
    padding-left: .2rem;
    margin: 0.6rem auto 1.5rem auto;
    color: #9EABB3;
    font-size: 0.8rem;
  }

  // 文章内容
  .post-title {
    padding-bottom: .2rem;
    margin-top: 0;

    a {
      font-size: 32px;
    }
  }
}

// 尾部其它文章链接
.more {
  position: relative; // 这个relative去掉的话，会造成页面闪烁
  padding: 0 12px 0 112px;
  font-size: 0;
  text-align: right;
  border-radius: 4px;

  .pre,
  .next {
    display: inline-block;
    width: 50%;
    font-size: 15px;
    vertical-align: top;

    .article-link {
      display: inline-block;
      padding: 0 8px;
      height: 30px;
      line-height: 30px;
    }

    .icon-right {
      position: relative;
      left: 0;
      display: inline-block;
      font-weight: bold;
      transition: .2s ease-in-out;
    }
  }

  .pre {
    text-align: left;

    .article-link:hover {
      .icon-right {
        left: -5px;
      }
    }

    .icon-right {
      margin-right: 5px;
      transform: rotate(180deg);
    }
  }

  .next {
    text-align: right;

    .article-link:hover {
      .icon-right {
        left: 5px;
      }
    }

    .icon-right {
      margin-left: 5px;
    }
  }
}

// ------局部模块调整 START------
// 数学公式
// mathjax
.MathJax {
  outline: none;
}

.MathJax_Display {
  overflow: auto;
  overflow-y: hidden;
}

// 提示
.alert,
.warn,
.error {
  padding: 12px;
  margin-bottom: 16px;
}

.alert {
  border-left: 8px solid #9FD9FD;
  background-color: #e6f7ff;
}

.warn {

  border-left: 8px solid #FEE79F;
  background-color: #fffbe6;
}

.error {
  border-left: 8px solid #FDACAA;
  background-color: #fff1f0;
}

// ------局部模块调整 END------


@media screen and (max-width: 1100px) {

  // 中等屏幕不显示导航栏
  #nav-bar {
    display: none !important;
  }

  main {
    .list-item {
      padding: 4rem 2rem;
      margin-left: 0;
    }

    .more {
      padding: 0 12px;
    }
  }
}

@media screen and (max-width: 560px) {
  main {
    padding: 1rem;

    .list-item {
      padding: 1rem 0;

      .post-title {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
      }

      .post-meta {
        text-align: center;
      }
    }

    // fix: 移动端数学公式会撑开页面
    .katex-block {
      max-width: 100%;
      overflow: auto;
    }

    .more {
      margin-top: 1rem;
      padding: 1rem;
      background: #F4F6F8;

      .pre {
        margin-bottom: 10px;
      }

      .pre,
      .next {
        width: 100%;
        display: block;
      }
    }
  }
}