footer.section.fullscreen
    div.footer-desc
        != config.ede_theme.foot.title

!= js("https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js")
//!= js("https://lab.hakim.se/zoom-js/js/zoom.js")
!= js("/public/js/init.js")