$btn-color = #108CEE;
$btn-hover = #1081de;
$base-blue = #1081de;
$link-blue = #0773cc;
$deep-blue = #1D62A2;
$shadown-green = #9FD58D;
$border-color = #E0E1E5;
$bg-deep-color = #0b91e5;
$light-blue = #38aff3;