.gc {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    word-wrap: break-word;
}

.gc * {
    box-sizing: border-box;
}

.gc *:disabled {
    cursor: not-allowed;
}

.gc a,
.gc a:visited {
    cursor: pointer;
    text-decoration: none;
}

.gc a:hover {
    text-decoration: underline;
}

.gc .g-hidden {
    display: none;
}

.gc .g-spinner-icon {
    fill: #333;

    -webkit-animation: g-spin 1s steps(12) infinite;
    animation: g-spin 1s steps(12) infinite;
}

@-webkit-keyframes g-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes g-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.g-root-container {
    margin: 19px 0;
}

.g-header-container {
    margin: 19px 0;
}

.g-header-like-btn,
.g-comment-like-btn {
    cursor: pointer;
}

.g-comment-like-btn {
    float: right;
}

.g-comment-like-btn.liked {
    color: #F44336;
}

.g-header-like-btn svg {
    vertical-align: middle;
    height: 30px;
}

.g-comment-like-btn svg {
    vertical-align: middle;
    height: 20px;
}

.g-header-like-btn.liked svg,
.g-comment-like-btn.liked svg {
    fill: #F44336;
}

a.g-header-issue-link,
a.g-header-issue-link:visited {
    float: right;
    line-height: 30px;
    color: #666;
}

a.g-header-issue-link:hover {
    color: #666;
}

.g-comments-loading,
.g-comments-error,
.g-comments-empty {
    text-align: center;
    margin: 50px 0;
}

.g-comments-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0 38px;
}

.g-comment,
.g-editor-container {
    position: relative;
    min-height: 60px;
    padding-left: 60px;
    margin: 19px 0;
}

.g-comment-avatar,
.g-editor-avatar {
    float: left;
    margin-left: -60px;
}

.g-comment-avatar,
.g-comment-avatar-img,
.g-comment-avatar,
.g-editor-avatar-img,
.g-editor-avatar svg {
    width: 44px;
    height: 44px;
    border-radius: 3px;
}

.g-editor-avatar .g-github-icon {
    fill: #fff;
    background-color: #333;
}

.g-comment-main,
.g-editor-main {
    position: relative;
    border: 1px solid #CFD8DC;
    border-radius: 0;
}

.g-editor-main::before,
.g-editor-main::after,
.g-comment-main::before,
.g-comment-main::after {
    position: absolute;
    top: 11px;
    left: -16px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: "";
    border-color: transparent;
    border-style: solid solid outset;
}

.g-editor-main::before,
.g-comment-main::before {
    border-width: 8px;
    border-right-color: #CFD8DC;
}

.g-editor-main::after,
.g-comment-main::after {
    margin-top: 1px;
    margin-left: 2px;
    border-width: 7px;
    border-right-color: #fff;
}

.g-comment-header {
    margin: 12px 15px;
    color: #666;
    background-color: #fff;
    border-radius: 3px;
}

.g-editor-header {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CFD8DC;
}

a.g-comment-name,
a.g-comment-name:visited {
    font-weight: 600;
    color: #666;
}

.g-editor-tabs {
    margin-bottom: -1px;
    margin-left: -1px;
}

.g-editor-tab {
    display: inline-block;
    padding: 11px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    background-color: transparent;
    border-width: 0 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0;

    white-space: nowrap;
    cursor: pointer;
    user-select: none;

    outline: none;
}

.g-editor-tab.g-selected {
    color: #333;
    background-color: #fff;
    border-color: #CFD8DC;
}

.g-editor-login {
    float: right;
    margin-top: -30px;
    margin-right: 15px;
}

a.g-footer-project-link,
a.g-footer-project-link:visited,
a.g-editor-login-link,
a.g-editor-login-link:visited {
    color: #2196F3;
}

a.g-editor-logout-link,
a.g-editor-logout-link:visited {
    color: #666;
}

a.g-editor-logout-link:hover {
    color: #2196F3;
    text-decoration: none;
}

.g-comment-body {
    position: relative;
    margin: 12px 15px;
    overflow: hidden;
    border-radius: 3px;
}

.g-comment-body-folded {
    cursor: pointer;
}

.g-comment-body-folded::before {
    display: block !important;
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .9));
}

.g-comment-body-folded::after {
    display: block !important;
    content: "Click to Expand" !important;
    text-align: center;
    color: #666;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    left: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, .9);
}

.g-editor-body {
    margin: 0;
}

.g-comment-body > *:first-child,
.g-editor-preview > *:first-child {
    margin-top: 0 !important;
}

.g-comment-body > *:last-child,
.g-editor-preview > *:last-child {
    margin-bottom: 0 !important;
}

.g-editor-body textarea {
    display: block;
    width: 100%;
    min-height: 150px;
    max-height: 500px;
    padding: 16px;
    resize: vertical;

    max-width: 100%;
    margin: 0;
    font-size: 14px;
    line-height: 1.6;

    background-color: #fff;

    color: #333;
    vertical-align: middle;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;

    overflow: visible;
}

.g-editor-body textarea:focus {
    background-color: #fff;
}

.g-editor-preview {
    min-height: 150px;

    padding: 16px;
    background-color: transparent;

    width: 100%;
    font-size: 14px;

    line-height: 1.5;
    word-wrap: break-word;
}

.g-editor-footer {
    padding: 0;
    margin-top: 10px;
}

.g-editor-footer::after {
    display: table;
    clear: both;
    content: "";
}

a.g-editor-footer-tip {
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
    color: #666;
}

a.g-editor-footer-tip:hover {
    color: #2196F3;
    text-decoration: none;
}

.g-comments-pagination {
    list-style: none;
    text-align: right;
    border-radius: 0;
    margin: -19px 0 19px 0;
}

.g-comments-page-item {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #CFD8DC;
    margin-left: -1px;
    padding: .25rem .5rem;
}

.g-comments-page-item:hover {
    background-color: #f5f5f5;
}

.g-comments-page-item.g-selected {
    background-color: #f5f5f5;
}

.g-editor-submit,
.g-comments-init-btn {
    color: #fff;
    background-color: #00BCD4;

    position: relative;
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-size: 110% 110%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.g-editor-submit:hover,
.g-comments-init-btn:hover {
    background-color: #00ACC1;
}

.g-comments-init-btn:disabled,
.g-editor-submit:disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #4DD0E1;
    box-shadow: none;
}

.g-editor-submit {
    float: right;
}

.g-footer-container {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 12px;
}

/*
 * Markdown CSS
 * Copied from https://github.com/sindresorhus/github-markdown-css
 */
.g-md {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.g-md .pl-c {
    color: #969896;
}

.g-md .pl-c1,
.g-md .pl-s .pl-v {
    color: #0086b3;
}

.g-md .pl-e,
.g-md .pl-en {
    color: #795da3;
}

.g-md .pl-smi,
.g-md .pl-s .pl-s1 {
    color: #333;
}

.g-md .pl-ent {
    color: #63a35c;
}

.g-md .pl-k {
    color: #a71d5d;
}

.g-md .pl-s,
.g-md .pl-pds,
.g-md .pl-s .pl-pse .pl-s1,
.g-md .pl-sr,
.g-md .pl-sr .pl-cce,
.g-md .pl-sr .pl-sre,
.g-md .pl-sr .pl-sra {
    color: #183691;
}

.g-md .pl-v,
.g-md .pl-smw {
    color: #ed6a43;
}

.g-md .pl-bu {
    color: #b52a1d;
}

.g-md .pl-ii {
    color: #f8f8f8;
    background-color: #b52a1d;
}

.g-md .pl-c2 {
    color: #f8f8f8;
    background-color: #b52a1d;
}

.g-md .pl-c2::before {
    content: "^M";
}

.g-md .pl-sr .pl-cce {
    font-weight: bold;
    color: #63a35c;
}

.g-md .pl-ml {
    color: #693a17;
}

.g-md .pl-mh,
.g-md .pl-mh .pl-en,
.g-md .pl-ms {
    font-weight: bold;
    color: #1d3e81;
}

.g-md .pl-mq {
    color: #008080;
}

.g-md .pl-mi {
    font-style: italic;
    color: #333;
}

.g-md .pl-mb {
    font-weight: bold;
    color: #333;
}

.g-md .pl-md {
    color: #bd2c00;
    background-color: #ffecec;
}

.g-md .pl-mi1 {
    color: #55a532;
    background-color: #eaffea;
}

.g-md .pl-mc {
    color: #ef9700;
    background-color: #ffe3b4;
}

.g-md .pl-mi2 {
    color: #d8d8d8;
    background-color: #808080;
}

.g-md .pl-mdr {
    font-weight: bold;
    color: #795da3;
}

.g-md .pl-mo {
    color: #1d3e81;
}

.g-md .pl-ba {
    color: #595e62;
}

.g-md .pl-sg {
    color: #c0c0c0;
}

.g-md .pl-corl {
    text-decoration: underline;
    color: #183691;
}

.g-md .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
}

.g-md a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.g-md a:active,
.g-md a:hover {
    outline-width: 0;
}

.g-md strong {
    font-weight: inherit;
}

.g-md strong {
    font-weight: bolder;
}

.g-md h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.g-md img {
    border-style: none;
}

.g-md svg:not(:root) {
    overflow: hidden;
}

.g-md code,
.g-md kbd,
.g-md pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.g-md hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.g-md input {
    font: inherit;
    margin: 0;
}

.g-md input {
    overflow: visible;
}

.g-md [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.g-md * {
    box-sizing: border-box;
}

.g-md input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.g-md a {
    color: #0366d6;
    text-decoration: none;
}

.g-md a:hover {
    text-decoration: underline;
}

.g-md strong {
    font-weight: 600;
}

.g-md hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.g-md hr::before {
    display: table;
    content: "";
}

.g-md hr::after {
    display: table;
    clear: both;
    content: "";
}

.g-md table {
    border-spacing: 0;
    border-collapse: collapse;
}

.g-md td,
.g-md th {
    padding: 0;
}

.g-md h1,
.g-md h2,
.g-md h3,
.g-md h4,
.g-md h5,
.g-md h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.g-md h1 {
    font-size: 32px;
    font-weight: 600;
}

.g-md h2 {
    font-size: 24px;
    font-weight: 600;
}

.g-md h3 {
    font-size: 20px;
    font-weight: 600;
}

.g-md h4 {
    font-size: 16px;
    font-weight: 600;
}

.g-md h5 {
    font-size: 14px;
    font-weight: 600;
}

.g-md h6 {
    font-size: 12px;
    font-weight: 600;
}

.g-md p {
    margin-top: 0;
    margin-bottom: 10px;
}

.g-md blockquote {
    margin: 0;
}

.g-md ul,
.g-md ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.g-md ol ol,
.g-md ul ol {
    list-style-type: lower-roman;
}

.g-md ul ul ol,
.g-md ul ol ol,
.g-md ol ul ol,
.g-md ol ol ol {
    list-style-type: lower-alpha;
}

.g-md dd {
    margin-left: 0;
}

.g-md code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}

.g-md pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.g-md .octicon {
    vertical-align: text-bottom;
}

.g-md .pl-0 {
    padding-left: 0 !important;
}

.g-md .pl-1 {
    padding-left: 4px !important;
}

.g-md .pl-2 {
    padding-left: 8px !important;
}

.g-md .pl-3 {
    padding-left: 16px !important;
}

.g-md .pl-4 {
    padding-left: 24px !important;
}

.g-md .pl-5 {
    padding-left: 32px !important;
}

.g-md .pl-6 {
    padding-left: 40px !important;
}

.g-md::before {
    display: table;
    content: "";
}

.g-md::after {
    display: table;
    clear: both;
    content: "";
}

.g-md > *:first-child {
    margin-top: 0 !important;
}

.g-md > *:last-child {
    margin-bottom: 0 !important;
}

.g-md a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.g-md .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.g-md .anchor:focus {
    outline: none;
}

.g-md p,
.g-md blockquote,
.g-md ul,
.g-md ol,
.g-md dl,
.g-md table,
.g-md pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.g-md hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.g-md blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.g-md blockquote > :first-child {
    margin-top: 0;
}

.g-md blockquote > :last-child {
    margin-bottom: 0;
}

.g-md kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #959da5;
}

.g-md h1,
.g-md h2,
.g-md h3,
.g-md h4,
.g-md h5,
.g-md h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.g-md h1 .octicon-link,
.g-md h2 .octicon-link,
.g-md h3 .octicon-link,
.g-md h4 .octicon-link,
.g-md h5 .octicon-link,
.g-md h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.g-md h1:hover .anchor,
.g-md h2:hover .anchor,
.g-md h3:hover .anchor,
.g-md h4:hover .anchor,
.g-md h5:hover .anchor,
.g-md h6:hover .anchor {
    text-decoration: none;
}

.g-md h1:hover .anchor .octicon-link,
.g-md h2:hover .anchor .octicon-link,
.g-md h3:hover .anchor .octicon-link,
.g-md h4:hover .anchor .octicon-link,
.g-md h5:hover .anchor .octicon-link,
.g-md h6:hover .anchor .octicon-link {
    visibility: visible;
}

.g-md h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

.g-md h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

.g-md h3 {
    font-size: 1.25em;
}

.g-md h4 {
    font-size: 1em;
}

.g-md h5 {
    font-size: 0.875em;
}

.g-md h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.g-md ul,
.g-md ol {
    padding-left: 2em;
}

.g-md ul ul,
.g-md ul ol,
.g-md ol ol,
.g-md ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.g-md li > p {
    margin-top: 16px;
}

.g-md li + li {
    margin-top: 0.25em;
}

.g-md dl {
    padding: 0;
}

.g-md dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.g-md dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.g-md table {
    display: block;
    width: 100%;
    overflow: auto;
}

.g-md table th {
    font-weight: 600;
}

.g-md table th,
.g-md table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.g-md table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.g-md table tr:nth-child(2n) {
    background-color: #f5f5f5;
}

.g-md img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.g-md code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 0;
}

.g-md code::before,
.g-md code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.g-md pre {
    word-wrap: normal;
}

.g-md pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.g-md .highlight {
    margin-bottom: 16px;
}

.g-md .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.g-md .highlight pre,
.g-md pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f5f5f5;
    border-radius: 0;
}

.g-md pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.g-md pre code::before,
.g-md pre code::after {
    content: normal;
}

.g-md .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.g-md kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 #959da5;
}

.g-md :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.g-md .task-list-item {
    list-style-type: none;
}

.g-md .task-list-item + .task-list-item {
    margin-top: 3px;
}

.g-md .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

.g-md hr {
    border-bottom-color: #eee;
}