<footer class="section fullscreen">
    <div class="footer-desc">
        <% if (config.ede_theme && config.ede_theme.foot) { %>
            <%= config.ede_theme.foot %>
        <% } %>
    </div>
</footer>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="https://lab.hakim.se/zoom-js/js/zoom.js"></script>-->
<script src="/public/js/init.js"></script>